<%- include(`${base_partial_path}/head`) %>
<%- include(`${base_partial_path}/header`) %>

<main>
  <section class="users">
    <ul class="users--list">
      <% users.forEach(user => { %>
        <li><%= user.display_name %> <%= user.role %></li>
      <% }) %>
    </ul>
  </section>
  <section class="playlist">
    <ul class="playlist--tracks">
    </ul>
  </section>
  <section class="current_track">
  </section>
</main>


<%- include(`./partials/playbacksdk.ejs`) %>
<%- include(`${base_partial_path}/footer`) %>
<%- include(`${base_partial_path}/foot`) %>
