<%- include(`${base_partial_path}/head`) %>
<%- include(`${base_partial_path}/header`) %>

<main>
  <section class="users">
    <div class="users-container">
      <ul class="users--list">
        <li data-spotifyid="<%= self.spotify_id %>"><%= self.display_name %></li>
        <% users.forEach(user => { %>
          <li data-spotifyid="<%= user.spotify_id %>"><%= user.display_name %></li>
        <% }) %>
      </ul>
    </div>
  </section>
  <section class="sdk-controller-container">
    <section class="playlist">
      <ul class="playlist--tracks">
      </ul>
    </section>
    <section class="que">
      <h2>Songs currently in que</h2>
      <ul class="que--just-added">
        <% if(queue.length) { %>
          <% queue.forEach(queued_track => { %>
            <li data-trackid="<%= queued_track.id %>"><%= queued_track.name %></li>
          <% }) %>
        <% } %>
      </ul>
    </section>
  </section>
  <section class="current_track-container">
    <section class="current_track">
    </section>
  </section>
</main>

<%- include(`${base_partial_path}/footer`) %>
<%- include(`${base_partial_path}/foot`) %>
